 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'ge dinar one', sans-serif;
            background-color: #a5b7d6;
            color: black;
        }

        header {
            text-align: center;
            margin: 20px 0;
        }

        h1 {
            font-size: 32px;
            color: black;
        }

        .menu-section {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
            padding: 0 30px;
        }

        .menu-item {
            background-color: #fff;
            width: 300px;
            padding: 15px;
            border-radius: 8px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
            transition: all 0.3s ease;
        }

        .menu-item:hover {
            background-color: #f0f0f0;
            transform: scale(1.05);
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        }

        .menu-item img {
            width: 100%;
            border-radius: 8px;
            margin-bottom: 10px;
        }

        @font-face{
            font-family: 'Lama Sans Bold';
            src: url('webfonts/fonts/LamaSans-Bold.ttf');

        }
        .menu-item h2 {
            font-size: 20px;
            color: #333;
            margin-bottom: 8px;
            font-family: 'Lama Sans Bold';
        }

        .menu-item p {
            color: #666;
            font-size: 14px;
            margin-bottom: 8px;
        }

        .menu-item label {
            font-size: 14px;
        }

        .menu-item input[type="number"] {
            width: 50px;
            padding: 5px;
            margin: 10px 0;
        }

        .submit-order {
            margin-top: 20px;
            padding: 15px 60px;
            background-color: #bc87b8;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .submit-order:hover {
            background-color: white;
        }

        .container {
            padding: 3px;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            margin: 0 auto;
        }

        .main {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .btn {
            width: 150px;
            height: 60px;
            font-size: 18px;
            background: #fff;
            border: none;
            border-radius: 8px;
            color: #000;
            outline: none;
            transition: all 0.4s;
        }

        .btn:hover {
            box-shadow: inset 0 0 0 4px #fff,
                inset 0 0 0 8px #bc87b8;
            background: white;
            color: black;
        }
        

        .cta {
            background-color: white;
            border-radius: 50px;
            color: #bc87b8 !important;
            padding: 5px 15px;
            text-decoration: dotted;

        }

        .cta:hover {
            border: #6e4b6b solid 1px;
            background-color: #bc87b8;
            color: white !important;
        }
         h3{
            margin-bottom: 25px !important;
        }
        .h{
            color: white;
        }
       #shawarma{
        height: 400px;
       }