.navbar {
            background-color: #bc87b8;
            color: #fff;
            padding: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 45px;
        }

        .navbar h3 {
            margin-left: 20px;
            font-size: 20px;
            font-family: 'Lama Sans SemiBold';
        }

        @font-face{
          font-family: 'Lama Sans SemiBold';
          src: url('webfonts/fonts/LamaSans-SemiBold.ttf');
        }
        .navbar ul {
            list-style: none;
            display: flex;
            gap: 20px;
            margin-right: 20px;
            font-weight: 900;
        }

        .navbar ul li {
            display: inline;

        }

        .navbar ul li a {
            color: #fff;
            text-decoration: none;
            font-size: 15px;
        }

        .navbar ul li a:hover {
            color: #ddd;
        }

        .navbar img {
            width: 40px;
            /* Adjust size as needed */
            height: 40px;
            /* Adjust size as needed */
            border-radius: 50%;
            margin-left: 20px;
        }
        .cta {
            background-color: white;
            border-radius: 50px;
            color: #bc87b8 !important;
            padding: 5px 10px;
            text-decoration: dotted;

        }

        .cta:hover {
            border: #6e4b6b solid 1px;
            background-color: #bc87b8;
            color: white !important;}