 .navbar {
      background-color: #bc87b8;
      color: white;
      padding: 15px 20px;
      display: flex;
      justify-content:space-between ;
      width: 100%;
      position: fixed;
      top: 0;
      z-index: 100;
    }

    .navbar .logo {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }

    .navbar h2 {
      font-size: 24px;
      margin: 0;
      display: flex;
      align-items: center;
    }

    .cta {
      background-color: white;
      border-radius: 50px;
      color: #bc87b8 !important;
      padding: 5px 10px;
      text-decoration: dotted;

    }

    .cta:hover {
      border: #6e4b6b solid 1px;
      background-color: #bc87b8;
      color: white !important;
    }

    .navbar ul {
      list-style: none;
      display: flex;
      gap: 20px;
      margin-left: auto;
      margin-left: 10px;
    }

    .navbar ul li {
      display: inline;
    }

    .navbar ul li a {
      color: #fff;
      text-decoration: none;
      font-size: 16px;
    }

    .navbar ul li a:hover {
      color: #ddd;
    }

    /* Container and Content Style */
    body {
      background-color: #A5B7D6;
      font-family: Arial, sans-serif;
      margin-top: 80px;
      /* To avoid content going behind navbar */
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .content-container {
      background: #ffffff;
      padding: 40px;
      border-radius: 10px;
      max-width: 700px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      text-align: center;
      line-height: 1.6;
      font-size: 18px;
      margin-top: 100px;
    }

    .content-container h1 {
      font-size: 24px;
      color: #333;
    }

    .content-container h2 {
      font-size: 20px;
      color: #666;
    }
    #details{
        display: flex;
        flex-direction: row;
        align-items: center;
    }