        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #a5b7d6;
            color: #333;
            display: flex;
            flex-direction: column;
        }

        /* تنسيق القاعات */
        .halls-section {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: center;
            padding: 10px;
        }

        .hall-item {
            background-color: white;
            border: 1px solid #ddd;
            width: 320px;
            padding: 15px;
            border-radius: 8px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        .hall-item img {
            width: 100%;
            border-radius: 20px;
            margin-bottom: 20px;
        }

        .hall-item h3 {
            font-size: 20px;
            color: #333;
            margin-bottom: 10px;
        }

        .hall-item p {
            color: #666;
            font-size: 14px;
            margin-bottom: 8px;
        }

        .hall-item button {
            padding: 10px 20px;
            background-color: #bc87b8;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        .hall-item button:hover {
            background-color: #9c6fa8;
        }

        .navbar {
            background-color: #bc87b8;
            color: #fff;
            padding: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 45px;
        }

        .navbar h3 {
            margin-left: 20px;
            font-size: 20px;
            font-family: 'Lama Sans SemiBold';
        }

        @font-face {
            font-family: 'Lama Sans SemiBold';
            src: url('webfonts/fonts/LamaSans-SemiBold.ttf');
        }

        .navbar ul {
            list-style: none;
            display: flex;
            gap: 20px;
            margin-right: 20px;
            font-weight: 900;
        }

        .navbar ul li {
            display: inline;

        }

        .navbar ul li a {
            color: #fff;
            text-decoration: none;
            font-size: 15px;
        }

        .navbar ul li a:hover {
            color: #ddd;
        }

        .navbar img {
            width: 40px;
            /* Adjust size as needed */
            height: 40px;
            /* Adjust size as needed */
            border-radius: 50%;
            margin-left: 20px;
        }

        .cta {
            background-color: white;
            border-radius: 50px;
            color: #bc87b8 !important;
            padding: 5px 10px;
            text-decoration: dotted;

        }

        .cta:hover {
            border: #6e4b6b solid 1px;
            background-color: #bc87b8;
            color: white !important;
        }
        .img{
            height: 75%;
        }